.boarder{
    background-color:#34b7eb; color: aliceblue;
}

.color{
    color:#34b7eb;
}

.color2{
    color:#3490eb;
}
.container {
    display: flex;
    align-items: center; /* Centers image and text vertically */
    gap: 20px; /* Space between image and text */
    justify-content: center; /* Centers the content horizontally */
    max-width: 800px; /* Optional: sets a max width for the container */
    margin: 0 auto; /* Centers the container within the page */
}
.text {
    max-width: 500px; /* Sets a maximum width for the text */
}

h1, h2 {
    font-family: 'Playfair Display', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

.indent {
    margin-left: 25%;
}
